<form method="post" th:action="@{deleteBirthdayEntry}" th:object="${entry}">
<table class="table table-bordered">
    <thead>
    <tr>
        <th></th>
        <th>№</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Birthday</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="birthdayEntry,iterationStatus : ${persons}">
        <td th:text="${iterationStatus.count}">1</td>
        <td><input th:type="'radio'" th:checked="'unchecked'" th:name="'id'" th:value="${birthdayEntry.id}" th:field="*{id}" /></td>
        <td th:text="${birthdayEntry.firstName}"></td>
        <td th:text="${birthdayEntry.lastName}"></td>
        <td th:text="${birthdayEntry.birthday}"></td>
        <td th:text="${birthdayEntry.age}"></td>
    </tr>
    </tbody>
</table>

    <div>
        <button th:class="'btn primary'" th:type="'submit'">Remove entry</button>
    </div>
</form>

<div>
    <a href="/createBirthdayEntry">Add birthday entry</a>
</div>
